<% @body_id = "homepage" %>
<div class="bgsplash">
    <h1 class="title">Fly during the 1/23/2016 blizzard and win cash!</h1>
    <h1 class="moreinfo"><i class="fa fa-angle-double-down fa-6"></i></h1>
    <div align="center">
        <% if user_signed_in? %>
            <%= button_to "Add/Edit Your Entry", entry_path, method: 'get', class: 'btn btn-primary btn-lg' %>
        <% else %>
            <%= button_to "Register now!", new_user_registration_path, method: 'get', class: 'btn btn-primary btn-lg' %>
        <% end %>
    </div>
</div>
    <div class="row details">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Entry</h2>
                </div>
                <div class="panel-body">
                    <h4> Register by signing up <%= link_to "Here", new_user_registration_path %></h4>
                    <h4> Once registered, submit your video link and win!</h4>
                    <small> Entries will be accepted until midnight on Sunday the 24th</small>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Prizes</h2>
            </div>
            <div class="panel-body">
                <h4>Top place</h4>
                <ul>
                    <li>$1 for each entry in the challenge <small>($50 max)</small></li>
                </ul>
                <h4>Any entry</h4>
                <ul>
                    <li>A cool, crisp $1 bill!</li>
                </ul>
                <small>All prizes distributed via paypal</small>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>Rules</h2>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><p>Must fly a drone, multicoptor, or rc craft</p></li>
                        <li><p>Video must be recorded on 1/23/16 (Saturday)</p></li>
                        <li><p>Must be during snowfall</p></li>
                        <li><p>Must be outside</p></li>
                        <li><p>Does not have to be FPV (LoS, gopro, phone accepted)</p></li>
                        <li><p>Must be submitted by midnight Sunday</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<hr/>
<div class="entries">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-primary" style="margin-right: 25px;">
                <div class="panel-heading">
                    <h2>Challenge Entries</h2>
                </div>
                <div class="panel-body" style="min-height: 200px;">
                    <% if !@entries.first.nil? %>
                            <ul>
                            <% @entries.each do |x, y| %>
                                <% if y.nil? %>
                                    <li><b style="font-size: 1.2em"><%= x %></b> registered but did not enter.</li>
                                <% else %>
                                    <li><a href="<%= y %>"><%= y %></a> submitted by <b style="font-size: 1.2em"><%= x %></b>.</li>
                                <% end %>
                            <% end %>
                        </uL>
                    <% else %>
                        <h2>Be the first!</h2>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>